.service {
  background-color: var(--secondary-text-color);
}

.service__title {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--accent-color);
}

.service__toptext {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.06;
  text-transform: capitalize;
  color: var(--second-title-color);
}

.service__bottomtext {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-color);
}

.service__btn {
  margin-left: auto;
  margin-right: auto;
}
